.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section {
  border-color: var(--color-stone-900);
}

.steps {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: 40px;

  .h1 {
    margin-bottom: 16px;
  }

  .step {
    display: flex;
    gap: 16px;
    align-items: center;

    .number {
      background-color: var(--color-stone-100);
      padding: 7px 14px;
      font-size: 17px;
      line-height: 150%;
    }
  }
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 0 16px 16px;
    display: block;
    min-height: 0;
  }

  .steps {
    padding: 24px;

    .h1 {
      margin-bottom: 8px;
    }
  }
}
