.envrc.private
.direnv
/backend/dist-newstyle/
/backend/call-graph.*
/dist-newstyle/
result
result-*
backup-*.sql
backend/logs
!/backend/**/.git
.tmp
/postgres-tmp/
/pg-tmp/
cabal.project.local
*.qcow2
known_hosts
/docs/causal/*.svg
.nixos-test-history'
pg-tmp
dist-newstyle
**/.nixos-test-history
host-map.json
personal-dev.sh
/node_modules/
/tsconfig.tsbuildinfo
