.container {
  position: relative;
}

.anchorTarget {
  /* Offset the anchor target to account for the fixed header */
  position: absolute;
  top: -80px;
  left: 0;
}

.link {
  color: var(--color-black);
  display: flex;
  align-items: center;
  gap: 8px;
}

.link:visited {
  color: var(--color-black);
}

.share {
  opacity: 0;
  transition: opacity 0.3s;
  flex-shrink: 0;
}

.container:hover .link .share {
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  .link {
    justify-content: space-between;
  }

  .share {
    opacity: 1;
    color: var(--color-stone-500);
  }
}
