.container {
  padding: 24px;
}

.h1 {
  font-size: 32px;
  line-height: 130%;
  margin-bottom: 24px;
}

.section {
  background-color: var(--color-white);
  border: 1px solid var(--color-stone-300);
  padding: 24px;
  margin: 48px 0;
}
