.root {
  padding: 24px;

  & > header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  & h1 {
    font-size: 26px;
  }

  & h2 {
    font-size: 22px;
    margin: 28px 0;
  }
}

.backButton {
  display: block;
  width: 34px;
  height: 34px;
  background: #fff;
  border: 1px solid #000;
}

.planHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;

  .upgradeButton {
    font-weight: 600;
    background: #000;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    display: block;
    text-decoration: none;
  }
}

.section {
  margin: 24px 0;
}

.panel {
  border: 1px solid var(--color-stone-300);
  padding: 24px;
  background: #fff;

  & header {
    margin-bottom: 30px;
    font-weight: 800;
  }
}

.box {
  padding: 16px;
  background: var(--color-stone-50);

  & header {
    font-weight: 800;
    margin-bottom: 30px;
  }
}

.threeUp {
  display: flex;
  gap: 24px;
  & > * {
    width: 100%;
  }
}

.usageMeter {
  position: relative;
  box-sizing: border-box;

  & .values {
    margin: 36px 0 16px;
    color: var(--color-stone-500);
    & strong {
      color: #000;
      font-weight: 800;
    }
  }

  & progress {
    display: block;
    height: 8px;
    width: 100%;
    background: var(--color-stone-200);
    &::-webkit-progress-bar {
      background: #000;
    }
    &::-moz-progress-bar {
      background: #000;
    }
  }

  & .percent {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--color-stone-500);
  }
}

.planName {
  font-weight: 400;
  padding: 8px;
  background: var(--color-stone-300);
}

.planFeatures {
  & ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: var(--color-stone-600);
  }

  & li {
    display: flex;
    width: 100%;
    line-height: 24px;
    gap: 8px;

    & img {
      margin-top: 4px;
    }
  }

  & strong {
    font-weight: 800;
  }
}

.usageLimits {
  & > div {
    position: relative;
    padding-bottom: 60px;
  }

  & header {
    margin: 0;
  }
  & p {
    color: var(--color-stone-600);
    line-height: 22px;
    margin: 12px 0;
  }

  & .input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;

    & input {
      appearance: textfield;
      text-align: center;
      padding: 6px 8px;
      font-size: 18px;
      font-family: inherit;
      line-height: 24px;
      border: 1px solid var(--color-stone-300);
      width: 55%;
    }
  }
}

.error {
  color: red;
  margin: 10px 0;
}

.installationStatus {
  font-size: 12px;
  color: var(--color-stone-600);
}

@media only screen and (max-width: 850px) {
  .threeUp {
    display: block;
  }

  .planFeatures ul {
    display: block;
  }
}
