.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.title {
  padding-bottom: 24px;
}

.price {
  padding-bottom: 24px;
  color: var(--color-primary-2);
  font-style: italic;
  font-size: 24px;
}

.textWithPadding {
  padding-bottom: 24px;
}

.summaryContainer {
  width: 100%;
}

.summary {
  margin: 24px auto 0 auto;
  width: fit-content;
}

.summary td {
  text-align: right;
  padding: 4px 6px;
}

.summary tfoot {
  border-top: solid 2px;
  border-color: var(--color-stone-300);
}

.error {
  color: red;
  margin-top: 16px;
  margin-bottom: 16px;
}

.errorSmall {
  font-size: 14px;
}
