.root {
  background: var(--color-stone-100);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
}

.error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.success {
  color: var(--color-success);
  border-color: var(--color-success);
}
