.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 128px 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: 16px;
    display: block;
    min-height: 0;
  }

  .actionSection {
    padding: 24px 40px;
  }
}
